@font-face {
    font-family: "DisplayOTF";
    src: url("assets/fonts/DisplayOTF.otf");
}

body {
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    height: 500px;
    /* You must set a specified height */
    background-size: cover;
    /* Center the image */
    background-color: black;
}

h1 {
    font-family: "DisplayOTF";
    text-align: center;
    color: cyan;
    /* border: 2px outset purple; */
    height: 160;
    padding: 100;
    margin-top: 20px;
    font-size: 100px;
    margin-bottom: 10px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    text-emphasis: bold;
    color: aqua;
}

p {
    color: cyan;
    font-size: 26px;
}

.box {
    border: aqua outset 2px;
    width: 100%;
    height: auto;
}

#displayDiv {
    color: aqua;
    font-size: 34pt;
}

.questionDiv {
    color: aqua;
}

.displayDiv {
    font-size: 34pt;
}

#btnNewgame {
    height: 80px;
    width: 180px;
    color: cyan;
    background-color: transparent;
    align-self: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btnDone {
    height: 80px;
    width: 180px;
    color: cyan;
    background-color: black;
    border-color: purple;
}

form {
    color: cyan;
}

@media only screen and (max-width: 900px) {
    #btnNewgame {
        height: 80px;
        width: 180px;
        color: cyan;
        background-color: transparent;
        align-self: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-color: purple;
        margin-top: 350px;
    }
}